<div class = "modal fade users" id="login">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <section class = " background">
          <%= form_tag sessions_path do %>
          <h1 class=" text-center">
            Login
          </h1>

          <div class=" form-group">
            <h4>Email</h4>
            <%= text_field_tag :email, params[:email], id: "email_field", class: 'form-control' %>
          </div>

          <div class=" form-group">
            <h4>Password</h4>
            <%= password_field_tag :password, autocomplete: 'off', id: "password_field", class: 'form-control' %>
          </div>

          <div class=" form-group text-center">
            <%= submit_tag "Login", class: "btn btn-success btn-lg" %>
          </div>

          <div class=" form-group text-center">
            <li><%= link_to "New User", new_user_path %></li>
          </div>

          <div class=" form-group text-center">
            <li><%= link_to "Serious la Forgot Password?", new_password_reset_path %></li>
          </div>
          <% end %>
        </section>
      </div>
    </div>
  </div>
</div>
