<div id="comment_<%=comment.id%>">

  <div class="comment_child">
      <h1><%= comment.body %></h1>
      <%= image_tag comment.image %>
      <%= link_to "Edit Comment", edit_topic_post_comment_path(@topic, @post, comment) %>
      <%= link_to "Delete", topic_post_comment_path(@topic, @post, comment), method: :delete, remote: true, data: { confirm: "Delete?" } %>
  </div>
</div>
