<%= form_for(@comment, url: topic_post_comments_path(@topic, @post, @comment), html: { id: "comment-create-form" }) do |f| %>
  <h1 class="text-center">
    Create comment
  </h1>

  <div class="form-group">
    <h4> <%= f.label :text_field, "Body" %> </h4>
    <%= f.text_field :body, id: "comment_body_field", class: 'form-control' %>
  </div>

  <div class="form-group text-center">
    <%= f.submit "Create comment", class: "btn btn-success btn-lg" %>
  </div>

  <div class="form-group">
    <h4 class="text-center"> Post Image </h4>
    <div id="preview-image">
      <% if @comment.image? %>
        <%= image_tag @comment.image, class: "img-settings img-responsive center-block" %>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <%= f.file_field :image, id: "comment_image_field", class: 'form-control image-uploader' %>
  </div>
<% end %>
