<div class="landing">
  <div class="background">
    <div class="content text-center">
      <h1> Two Wheel Trouble </h1>
      <h2>Home of the people who live for the ride</h2>
    </div>
  </div>

  <section class="features">

    <div class="feature text-center" >
      <%= fa_icon 'globe 4x'%>
      <a href="https://twitter.com/amsyar_bickle">
        <h4> Fostering communities </h4>
      </a>
    </div>
    
    <div class="feature text-center">
      <%= fa_icon 'twitter 4x'%>
      <a href="https://twitter.com/amsyar_bickle">
        <h4>'Tweet up!'</h4>
      </a>
    </div>

    <div class="feature text-center">
      <%= fa_icon 'instagram 4x'%>
      <a href="https://instagram.com/tun_amsyar">
        <h4>'IG me son!'</h4>
      </a>
    </div>

    <div class="feature text-center">
      <%= fa_icon 'facebook 4x' %>
      <a href="https://facebook.com/">
        <h4>'The Facebook'</h4>
      </a>
    </div>

  </section>

  <section class="minipics">
    <div class="image_tag">
      <div class="invisible-layout">
        <%= image_tag "bell.jpeg", class: 'image_box' %>
      </div>
    </div>
    <div class="image_tag">
      <div class="invisible-layout">
        <%= image_tag "honda1.jpeg", class: 'image_box' %>
      </div>
    </div>
    <div class="image_tag">
      <div class="invisible-layout">
        <%= image_tag "honda.jpeg", class: 'image_box' %>
      </div>
    </div>
    <div class="image_tag">
      <div class="invisible-layout">
        <%= image_tag "pillion.jpeg", class: 'image_box' %>
      </div>
    </div>
  </section>
</div>
