<div class="topics">
  <section class="background">
    <%= form_for(@topic, url: topic_path(@topic), html: { id: "topic-update-form" }) do |f| %>
      <h1 class="text-center">
        Create Topic
      </h1>

      <div class="form-group">
        <h4> <%= f.label :title_field, "Title" %> </h4>
        <%= f.text_field :title, required: true, id: "topic_title_field", class: 'form-control' %>
      </div>

      <div class="form-group">
        <h4> <%= f.label :text_field, "Description" %> </h4>
        <%= f.text_field :description, id: "topic_description_field", class: 'form-control' %>
      </div>

      <div class="form-group text-center">
        <%= f.submit "Update Topic", class: "btn btn-success btn-lg" %>
      </div>

    <% end %>
  </section>
</div>
