<%= form_for(@topic, url: topics_path, html: { id: "topic-create-form" }) do |f| %>
  <h1 class="text-center">
    Create Topic
  </h1>

  <div class="form-group">
    <h4> <%= f.label :title_field, "Title" %> </h4>
    <%= f.text_field :title, required: true, id: "topic_title_field", class: 'form-control' %>
  </div>

  <div class="form-group">
    <h4> <%= f.label :text_field, "Description" %> </h4>
    <%= f.text_field :description, id: "topic_description_field", class: 'form-control' %>
  </div>

  <div class="form-group text-center">
    <%= f.submit "Create Topic", class: "btn btn-success btn-lg" %>
  </div>
<% end %>
