<div class="users">
  <section class="background">
    <%= form_for(@user, url: users_path, html: { id: "user-create-form" }) do |f| %>
      <h1 class="text-center">
       New User Login
      </h1>

      <div class="form-group">
        <h4> <%= f.label :email_field, "Email" %> </h4>
        <%= f.text_field :email, required: true, id: "email_field", class: 'form-control' %>
      </div>

      <div class="form-group">
        <h4> <%= f.label :password_field, "Password" %> </h4>
        <%= f.text_field :password, id: "password_field", class: 'form-control' %>
      </div>

      <div class="form-group text-center">
        <%= f.submit "Login", class: "btn btn-success btn-lg" %>
      </div>

      <div class="form-group text-center">
        <li><%= link_to "New User", new_user_path %></li>
      </div>
    <% end %>
  </section>
</div>  
