<%= form_for(post, url: topic_posts_path(topic, post),method: :post,remote: true,authenticity_token: true, html: { id: "post-create-form" ,multipart: true}) do |f| %>

  <h1 class="text-center">
    Create post
  </h1>

  <div class="form-group">
    <h4> <%= f.label :title_field, "Title" %> </h4>
    <%= f.text_field :title, required: true, id: "post_title_field", class: 'form-control' %>
  </div>

  <div class="form-group">
    <h4> <%= f.label :text_field, "Body" %> </h4>
    <%= f.text_field :body, id: "post_body_field", class: 'form-control' %>
  </div>

  <div class="form-group text-center">
    <%= f.submit "Create post", class: "btn btn-success btn-lg" %>
  </div>

  <div class="form-group">
    <h4 class="text-center"> Post Image </h4>
      <div id="preview-image">
        <% if post.image? %>
        <%= image_tag post.image, class: "img-settings img-responsive center-block" %>
        <% end %>
      </div>
  </div>

  <div class="form-group">
    <%= f.file_field :image, id: "post_image_field", class: 'form-control image-uploader' %>
  </div>

<% end %>
