<div id="post_<%=post.id%>">
  <div class="post_child">

    <h3><%= link_to post.title, topic_post_comments_path(topic,post) %></h3>
    <h5><%= post.body %></h5>
    <%= image_tag post.image %>
    <%= link_to "Edit Post", edit_topic_post_path(topic, post),remote: true %>
    <%= link_to "Delete", topic_post_path(topic, post), method: :delete,remote: true, data: { confirm: "Delete?" } %>

  </div>
</div>
